*{
    margin:0;
    padding:0;

}

body{
    font-family: sans-serif;
    background-color: #18191a !important;
}

.carousel-inner img {
  min-height: 600px; /* Set width to 100% */
  max-height: 600px;
  margin: auto;
  
}
      
.carousel-caption {
  color: rgb(163, 31, 31) !important;
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
}

@media (max-width: 600px) {
        .carousel-caption {
          display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
        }
      }

#myCarousel {
  z-index: 0;
}

.p-title {
    font-size:27px;
    font-weight: 600;
    margin-top:0;
}

#username {
  font-size: 18px;
  font-weight: bold;
}

/************** CSS ZA NOVI CAROUSEL ****************/

#banner{
    color:#fff;
    padding-top:100px;
    padding-bottom: 100px;
    background-color: #18191a;
}

.p-title{
    font-size:27px;
    font-weight: 600;
    margin-top:50px;
}

.slide-1,.slide-2,.slide-3{
    
    display: block;
    position: absolute;
    width:50%;
    
}

.slide-1{
    animation:fade1 10s infinite;
}
.slide-2{
    animation:fade2 10s infinite;
}
.slide-3{
    animation:fade3 10s infinite;
}

@keyframes fade1{
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fade2{
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes fade3{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}


/***************************************************/

/*******************contact**************************/
#contact{
  background:#f8f9fa;
  padding: 250px 0 50px 0;

}

#contact p{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img{
  width:60px;
  transition: 0.5s;

}

.social-icons a:hover img{
  transform: translateY(-10px);

}