*{
    margin:0;
    padding:0;

}

body{
    font-family: sans-serif;

}

#navigation-bar{
    position:sticky;
    top:0;
    z-index:10;}

.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  min-height: 600px; /* Set width to 100% */
  max-height: 600px;
  margin: auto;
  
}
      
.carousel-caption {
  color: rgb(163, 31, 31) !important;
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
}

@media (max-width: 600px) {
        .carousel-caption {
          display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
        }
      }

#myCarousel {
  z-index: 0;
}

.p-title {
    font-size:27px;
    font-weight: 600;
    margin-top:0;
}

.login-div a{
  float:right;
  padding-top: 15px;
  color: grey;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.login-div a:hover {
  color: white;
  text-decoration: none;
}

.loginNSignupContainer {
  display: block;
  border: 1px solid black;
  height: 80%;
  width: 70%;
  position: absolute;
  top: 100px;
  left: 200px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.5);
}

.loginNSignupContainer::after {
  content: '';
  width: 100%;
  background-color: black; 
  
  filter: blur(8px);
  transition: all 500ms;
  display: block;
}

.loginNSignupContainer form{
  padding-top: 100px;
  z-index: 2;
}

.loginNSignupContainer form input {
  padding: 10px;
  margin: 10px;
}

.loginNSignupContainer form input[type="submit"]{
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 15px;
}

.loginNSignupContainer form input[type="text"], input[type="email"], input[type="password"]{
  outline: none;
  border: none;
  background: transparent;
  color: white;
  border-bottom: 2px solid rgb(163, 31, 31);
  border-radius: 15px;
}


.loginNSignupContainer form input::placeholder {
  color: white;
}

.loginNSignupContainer .exitBtn {
  color: white;
  font-size: 30px;
    border-radius: 5px;
    float: right;
    position: relative;
  /* background: black */
}

.signupForm {
  padding-top: -200px;
}

#regBtn {
  /* color:white; */
  font-size: 15px;
  font-weight: bold;
}

.signout-div input{
  float:right;
  padding-top: 15px;
  color: grey;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}