body{
    font-family: 'Roboto', sans-serif;
    background: url('../img/Widescreen-Image.jpg');
    background-repeat: no-repeat;
}

#upload-form {
    padding: 10px;
    margin: 20px;
    text-align: center;
}

#upload-form input {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid rgb(163, 31, 31);
    border-radius: 5px;
}

#upload-form input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label{
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: rgb(224, 34, 34);
    display: inline-block;
    outline: 2px solid white;
    padding: 5px;
    cursor: pointer;
}